<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/coming-soon.min.css" rel="stylesheet">
</head>
<body>
    


<div class="overlay"></div>
<img src="C:\Users\Happy\Desktop\likelion_6\project\postapp\static\blog.jpg" alt="">

<div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 my-auto">
              <div class="masthead-content text-white py-5 py-md-0">
                <h1 class="mb-3">Coming Soon!</h1>
                <p class="mb-5">We're working hard to finish the development of this site. Our target launch date is
                  <strong>January 2019</strong>! Sign up for updates using the form below!</p>
                <div class="input-group input-group-newsletter">
                  <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Notify Me!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
          <li class="list-unstyled-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-unstyled-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-unstyled-item">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
{% if user.is_authenticated %}

{{ user.username }} 님

    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %} 
        <input type="submit" value="로그아웃">
    </form>

<a href="{% url 'new' %}">글쓰기</a>

{% else %}

로그인 해주세요
<a href="{% url 'login' %}">로긴</a>
<a href="{% url 'signup' %}">횐갑</a>

{% endif %}

<form action="{% url 'search' %}" method="get">
  <input type="text" name="q" value="{{ q }}">
  <input type="submit" value="검색">
</form>

{% for post in posts.all %}
        <div class="container">
            <h1>제목 : {{ post.title }}</h1>
            
            <p>작성자 : {{ post.name }}</p>
            
            <p>시간 : {{ post.pub_date }}</p>
            <p>본문 : {{ post.summary }}</p>
            <p>좋아요 : <small class="text-muted"><span class="like_count" id="count{{ post.id }}">{{ post.total_likes }} like</span></small></p>
            <a href="{% url 'detail' post.id %}">자세히보기</a>
        </div>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/coming-soon.min.js"></script>
</body>
</html>